form {
  margin: 20px auto 20px auto;
  position: relative;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  margin: auto;
  padding: 20px;

  background-color: white;
}

form p {
  display: flex;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.closebutton {
  color: #999999;
  position: absolute;
  z-index: 70;
  right: 20px;
  top: 10px;
}

.closebutton:hover {
  color: black;
}

.hidden {
  display: none;
}

form .submitbutton button:hover {
  background-color: #09b1ba;
  color: white;
  font-family: MaisonNeue Med;
}

form .submitbutton button {
  border: 1px solid #09b1ba;
  font-family: MaisonNeue Med;
  color: #09b1ba;
}
form p {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 20px;
}

label {
  display: block;
  padding-top: 50px;
  text-indent: -170px;
}

.checkbox input {
  background-color: chocolate;
  width: 13px;
  height: 13px;

  vertical-align: bottom;
  position: relative;
}

.error {
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
