/* Other rules */
body {
  width: 99vw;
}

h2 {
  font-family: MaisonNeue Med;
  font-weight: 700px;
  font-size: 34px;
  line-height: 42px;
  color: #111111;
}

h3 {
  font-family: MaisonNeue Med;
  font-weight: 700px;
  font-size: 24px;
  line-height: 32px;
  color: #111111;
}

p {
  font-family: MaisonNeue;

  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
.wrapper {
  margin: 10px;
  width: 90vw;
}
main {
  width: 97vw;
}

input {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  border: none;
}

input::placeholder {
  font-family: MaisonNeue Med;
  color: #999999;
  font-size: 14px;
}
.logo {
  display: flex;
  padding: 0px;
  width: 100px;
  height: 35px;
  flex-grow: 1;
}

.hiddenTab {
  display: none;
}

.homeContent {
  margin: auto;

  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
